{% extends 'basetemplaterev.html' %}
{% load static %}

{% block content %}

  <div class = "bookbox"></div>
  </div>   
    <h1 class="fontgiver booknow-toptext">MAKE A RESERVATION</h1>
    <button class = "button booknow-button">Book Now</button>
    <input class = "form-check-input" style="margin-left: 450px; margin-top:100px; position: absolute; color: rgb(196, 196, 1); width: 600px; height: 25px;" required> 
    <p class="fontgiver booknow-nametext">Full Name</p>
    <input class = "form-check-input" style="margin-left: 480px; margin-top:200px; position: absolute; color: rgb(196, 196, 1); width: 570px; height: 25px;" required> 
    <p class="fontgiver booknow-emailtext">Email Address</p>
    <input class = "form-check-input" style="margin-left: 470px; margin-top:300px; position: absolute; color: rgb(196, 196, 1); width: 585px; height: 25px;" required> 
    <p class="fontgiver booknow-phonetext">Phone Number</p>
  </div>

{% endblock %}